.container {
    display: flex;
    justify-content: center;
    
}

.agents-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
    align-items: center;
   max-width: 1080px;
   margin-top: 40px;
    
  
}

/* this is agent card */
.agent {

    margin: 20px;
    border: solid 1px rgb(150, 150, 150);
    border-radius: 10px;
    overflow: hidden;
    transition: linear .1s;
    max-width: 300px;
    text-decoration: none;
    color: black;
}

.agent:hover {
    transform: scale(1.05);
}

.property {
    overflow: hidden;
    transition: linear .1s;
    text-decoration: none;
    color: black;
}

.property:hover {
    transform: scale(1.05);
}

.name {
    padding: 2px 10px;

}
.description {
    padding: 2px 10px;

}

.Bgimg2 {
    background-image: 
    url(
  "../../assets/FakeestateBG2.png");
    background-size: fit;
    height: 100vh;
    background-repeat:repeat; 
    margin-top: 20px;
  }
