.container {
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;
}

.sub-container {
    width: 400px;
   
}

.Bgimg {
    background-image: 
    url(
  "../../assets/FakeestateBG.png");
    background-size: fit;
    height: 100vh;
    background-repeat:no-repeat; 
    
  }

  .title {
      padding-top: 20px;
  }
