
.MainContent {
    opacity: 80%;
    /* margin: auto;
    /* align-items: center; */
    /* justify-content: center; */
    /* position: absolute; */
    
  text-align: center;
    
  }
  
  .MainImg {
    height: 400px;
    background-repeat: repeat;
    width: 800px;
    align-items: center;
  }
  
  .Search {
    background-color: #FFFFFF;
    width: 40%;
    /* align-items: center; */
    margin: auto;
    position: relative;
    top: -100px;
    /* align-items: center; */
    border-radius: 50px;
    /* height: 48px; */
    cursor: text;
    max-width: 600px;
    min-width: 400px;
  }
  
  .TextField {
    text-align: left;
    padding: 16px;
    color: #2e2e2e;
  }
  
  [contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #aaa;
  }
  
  .Feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    justify-content: center;
    /* width: 80%; */
    /* cursor: pointer; */
  }
  
  .FeedItem {
    border: 1px solid;
    /* gap: 20px; */
    margin: 20px;
    /* height: 80%; */
    /* width: 25%; */
    /* overflow: hidden; */
    cursor: pointer;
    box-shadow: 0 0 2px 1px rgb(110, 110, 110);
    
  }
  
  .FeedImg {
    /* max-height: 250px; */
  }
  
  .FeedText {
    /* border: 1px solid; */
    /* width: 25%; */
    font-size: 32px;
    color: rgb(110, 110, 110);
  }