.Header {
    display: flex;
    flex-direction: column;
}

.Main {
    background-color: #FF9A02;
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    
}

.Title {
    padding: 8px;
    font-size: 32px;
    margin-left: 32px;
}

.Toolbox {
    border-bottom: 1px solid;
    /* border-color: ; */
}

ul {
    display: flex;
    list-style-type: none;
    /* margin: 0; */
    /* padding: 0; */
    flex-direction: row;
    /* float: right; */
    justify-content: right;
    /* padding-right: 40; */
    margin-right: 80px;
    margin-left: auto;
}

.Dir {
    justify-content: center;
}

.Dir * {
    margin-left: 70px;
    margin-right: 70px
}

li {
    margin-left: 80px;
}